html {
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.tile {
    background-color: lightgray;
    border: 5px outset;
}

.tile-opened {
    background-color: lightgray;
    border: 1px solid darkgray;

    text-align: center;
}

.tile-exploded {
    background-color: crimson;
}

.tile-wrong {
    position: relative;
}

.tile-wrong::after {
    content: "❌";
    position: absolute;
    top: 2px;
    left: 2px;
}

input[type="checkbox"].actionSelector {
    -webkit-appearance: none;
    appearance: none;
    background-color: lightgray;
    margin: 0;
    border: 5px outset;
    font: inherit;
    color: currentColor;
    border-radius: 0.15em;
}

input[type="checkbox"].actionSelector::before {
    content: "💣";
    background-color: lightgray;
}

input[type="checkbox"]:checked.actionSelector::before {
    content: "🚩";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--columns), 50px);
    grid-template-rows: repeat(var(--rows), 50px);
}

.scrollArea {
    overflow: auto;
    width: 100%;
}