html {
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    background-color: darkslategray;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: center;
    color: white;
}

.counter {
    font-size: 40px;
    background-color: lightgray;
    color: black;
    padding: 2px;
    min-width: 47px;
    min-height: 47px;
}

.tile {
    background-color: lightgray;
    border: 5px outset;
}

.tile-opened {
    background-color: lightgray;
    border: 1px solid darkgray;

    text-align: center;
}

.tile-exploded {
    background-color: crimson;
}

.tile-wrong {
    position: relative;
}

.tile-wrong::after {
    content: "❌";
    position: absolute;
    top: 2px;
    left: 2px;
}

input[type="checkbox"].actionSelector {
    -webkit-appearance: none;
    appearance: none;
    background-color: lightgray;
    margin: 0;
    border: 5px outset;
    font: inherit;
    color: currentColor;
    border-radius: 0.15em;
    font-size: 30px;
    min-width: 1.7em;
}

input[type="checkbox"]:hover.actionSelector {
    background-color: rgb(230, 230, 230);
}

input[type="checkbox"]:active.actionSelector {
    border: 5px inset;
}

input[type="checkbox"].actionSelector::before {
    content: "💣";
}

input[type="checkbox"]:checked.actionSelector::before {
    content: "🚩";
}


button {
    box-sizing: border-box;
    background-color: lightgray;
    border: 0.2em outset;
    border-radius: 0.15em;
    font-size: 30px;
    padding: 0;
    margin: 0 0.1em;
}

button:hover {
    background-color: rgb(230, 230, 230);
}

button:active {
    border: 5px inset;
}

.buttonbar {
    display: flex;
}

.layout {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--columns), 50px);
    grid-template-rows: repeat(var(--rows), 50px);
    user-select: none;
}

.scrollArea {
    overflow: auto;
    width: 100%;
}